<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.s1.product.zzim.ZzimMapper">
	<insert id="zzimInsert" parameterType="com.iu.s1.product.zzim.ZzimVO">
		insert into zzim values(#{mem_storeNum},#{sell_num},0)
	</insert>
	
	<select id="zzimCheck" parameterType="Long" resultType="com.iu.s1.product.zzim.ZzimVO">
		select zzim_num from zzim where mem_storeNum=#{mem_storeNum} and sell_num=#{sell_num}
	</select>
	
	<delete id="zzimDelete" parameterType="com.iu.s1.product.zzim.ZzimVO">
		delete from zzim where zzim_num=#{zzim_num}
	</delete>
	
	<select id="zzimCount" parameterType="Long" resultType="Long">
		select count(zzim_num) from zzim where sell_num=#{sell_num}
	</select>

	<!-- shop에서 보여줄 목록  -->
	<select id="myzzim" parameterType="Long" resultType="com.iu.s1.product.zzim.ZzimVO">
		select * from zzim where mem_storeNum= #{mem_storeNum} order by zzim_num desc		
	
	</select>
	<!-- zico  -->
	<select id="zico" parameterType="com.iu.s1.product.zzim.ZzimVO" resultType="Long">
		select count(*) from zzim where mem_storeNum = #{mem_storeNum}
	</select>


</mapper>
